.header {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, var(--header-shadow-opacity));
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--header-font);
  line-height: var(--header-line-height);
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: var(--header-text-size);
  background: var(--header-background-color);
  color: var(--header-text-color);
  text-wrap: balance;
}
.header:hover {
  border-color: var(--header-hover-border-color);
  background: var(--header-hover-background-color);
  color: var(--header-hover-text-color);
}

.goal {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, var(--cell-shadow-opacity));
  color: var(--cell-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--cell-font);
  font-size: var(--cell-text-size);
  overflow: hidden;
  line-height: var(--cell-line-height);
  text-wrap: balance;
  padding: var(--cell-padding);
  text-align: center;
  user-select: none;
  background: var(--cell-background-color);
  cursor: pointer;
  position: relative;
}
.goal[data-state="green"] {
  background: var(--cell-green-background-color);
}
.goal[data-state="red"] {
  background: var(--cell-red-background-color);
}

@keyframes starPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.goal .star {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
  position: absolute;
  height: var(--cell-star-size);
  width: var(--cell-star-size);
  left: var(--cell-star-margin);
  top: var(--cell-star-margin);
  color: var(--cell-star-color);
}

.goal[data-starred="starred"] .star {
  opacity: 1;
  animation: starPop 0.4s;
}

.bingo:has(#row1:hover) .row1,
.bingo:has(#row2:hover) .row2,
.bingo:has(#row3:hover) .row3,
.bingo:has(#row4:hover) .row4,
.bingo:has(#row5:hover) .row5,
.bingo:has(#col1:hover) .col1,
.bingo:has(#col2:hover) .col2,
.bingo:has(#col3:hover) .col3,
.bingo:has(#col4:hover) .col4,
.bingo:has(#col5:hover) .col5,
.bingo:has(#tlbr:hover) .tlbr,
.bingo:has(#bltr:hover) .bltr,
.bingo:has(#board-popout:hover) .goal,
.goal:hover {
  background: var(--cell-hover-background-color);
  color: var(--cell-hover-text-color);
}

.bingo:has(#row1:hover) .row1[data-state="green"],
.bingo:has(#row2:hover) .row2[data-state="green"],
.bingo:has(#row3:hover) .row3[data-state="green"],
.bingo:has(#row4:hover) .row4[data-state="green"],
.bingo:has(#row5:hover) .row5[data-state="green"],
.bingo:has(#col1:hover) .col1[data-state="green"],
.bingo:has(#col2:hover) .col2[data-state="green"],
.bingo:has(#col3:hover) .col3[data-state="green"],
.bingo:has(#col4:hover) .col4[data-state="green"],
.bingo:has(#col5:hover) .col5[data-state="green"],
.bingo:has(#tlbr:hover) .tlbr[data-state="green"],
.bingo:has(#bltr:hover) .bltr[data-state="green"],
.bingo:has(#board-popout:hover) .goal[data-state="green"],
.goal[data-state="green"]:hover {
  background: var(--cell-hover-green-background-color);
}

.bingo:has(#row1:hover) .row1[data-state="red"],
.bingo:has(#row2:hover) .row2[data-state="red"],
.bingo:has(#row3:hover) .row3[data-state="red"],
.bingo:has(#row4:hover) .row4[data-state="red"],
.bingo:has(#row5:hover) .row5[data-state="red"],
.bingo:has(#col1:hover) .col1[data-state="red"],
.bingo:has(#col2:hover) .col2[data-state="red"],
.bingo:has(#col3:hover) .col3[data-state="red"],
.bingo:has(#col4:hover) .col4[data-state="red"],
.bingo:has(#col5:hover) .col5[data-state="red"],
.bingo:has(#tlbr:hover) .tlbr[data-state="red"],
.bingo:has(#bltr:hover) .bltr[data-state="red"],
.bingo:has(#board-popout:hover) .goal[data-state="red"],
.goal[data-state="red"]:hover {
  background: var(--cell-hover-red-background-color);
}