* {
    box-sizing: border-box;
}

html,
body {
  background: #111111;
  color: #bec7d2;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.92rem;
  line-height: 1.22rem;
  padding: 0;
  margin: 0;
  height: 100%;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  overflow-y: hidden;
}
  
strong {
  color: #f7e279;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

p {
  margin: 0px;
}

table {
  height: 100%;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0;
}

td {
  border: 0;
  padding: 0;
}

#board-popout-page {
  height: 100%;
  width: 100%;
  padding: 10px;
}

#bingoPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    text-align: right;
}

#board {
  flex-grow: 1;
}

#bingo {
    user-select: none;
}

#bingo-info {
    margin: 0px 0px;
}

#bingo .rowcol {
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}

#bingo .rowcol:hover {
  color: #ffffff;
  background: #1448b3;
}

#bingo tr {
    width: 100%;
}

#bingo td {
    height: 17.6%;
    width: 18.6%;
}

#bingo tr:first-child td,
#bingo tr:last-child td,
#bingo .short {
  height: 6%;
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}

#bingo tr:first-child td:hover,
#bingo tr:last-child td:hover {
  color: #ffffff;
  background: #1448b3;
}

#bingo tr td {
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  padding: 0 5px;
  cursor: pointer;
  text-align: center;
  border: 1px #424242 solid;
  background: #000;
}

#bingoPage.modern #bingo tr td {
  box-shadow: none;
}

#bingo tr td:first-child {
  width: 7%;
  background: #000811;
  font-size: 75%;
  color: #3c70df;
  font-weight: 700;
  border: 1px #0a245a solid;
}

#bingo tr td:first-child:hover {
  color: #ffffff;
  background: #1448b3;
}

#bingo tr td:hover,
#bingo tr td.hover {
  background: #001a36;
  color: #fff;
}

#bingo tr td.greensquare {
  background: #005511;
}

#bingo tr td.greensquare:hover,
#bingo tr td.greensquare.hover {
  background: #007722;
}

#bingo tr td.redsquare {
  background: #550011;
}

#bingo tr td.redsquare:hover,
#bingo tr td.redsquare.hover {
  background: #770022;
}