.bingo-board {
  --header-font: var(--board-header-font);
  --header-line-height: var(--board-header-line-height);
  --header-height: var(--board-header-height);
  --header-text-size: var(--board-header-text-size);
  --header-text-color: var(--board-header-text-color);
  --header-border-color: var(--board-header-border-color);
  --header-background-color: var(--board-header-background-color);
  --header-shadow-opacity: var(--board-header-shadow-opacity);
  --header-hover-border-color: var(--board-header-hover-border-color);
  --header-hover-background-color: var(--board-header-hover-background-color);
  --header-hover-text-color: var(--board-header-hover-text-color);

  --cell-font: var(--board-cell-font);
  --cell-line-height: var(--board-cell-line-height);
  --cell-text-size: var(--board-cell-text-size);
  --cell-text-color: var(--board-cell-text-color);
  --cell-padding: var(--board-cell-padding);
  --cell-border-width: var(--board-cell-border-width);
  --cell-border-color: var(--board-cell-border-color);
  --cell-background-color: var(--board-cell-background-color);
  --cell-shadow-opacity: var(--board-cell-shadow-opacity);
  --cell-green-background-color: var(--board-cell-green-background-color);
  --cell-red-background-color: var(--board-cell-red-background-color);
  --cell-hover-background-color: var(--board-cell-hover-background-color);
  --cell-hover-text-color: var(--board-cell-hover-text-color);
  --cell-hover-green-background-color: var(--board-cell-hover-green-background-color);
  --cell-hover-red-background-color: var(--board-cell-hover-red-background-color);

  --tracker-token-size: var(--board-tracker-token-size);
  --tracker-counter-icon-size: var(--board-tracker-counter-icon-size);
  --tracker-counter-text-size: var(--board-tracker-counter-text-size);
  --tracker-animation-time: var(--board-tracker-animation-time);
}

.bingo-board.table {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: var(--board-header-width) repeat(5, 1fr);
  grid-template-rows: var(--board-header-height) repeat(5, 1fr) var(--header-height) var(--header-height);
  height: calc(3 * var(--board-header-height) + 5 * var(--board-cell-height));
  width: calc(var(--board-header-width) + 5 * var(--board-cell-width));
}

body > .bingo-board.table {
  height: 100vh;
  width: unset;
}

#board-popout {
  grid-row: 8;
}

#bingo-info {
  grid-area: 8 / 2 / 9 / 7;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  font-family: var(--info-font);
  font-size: var(--info-text-size);
  color: var(--info-text-color);
}

.bingo-board {
  border-left: 1px solid var(--header-border-color);
  border-top: 1px solid var(--header-border-color);
}

.bingo-board .header {
  border-right: 1px solid var(--header-border-color);
  border-bottom: 1px solid var(--header-border-color);
}

.bingo-board .goal {
  border-right: var(--cell-border-width) var(--cell-border-color)
    solid;
  border-bottom: var(--cell-border-width) var(--cell-border-color)
    solid;
}

.bingo-board .filename {
  display: none;
}

.show-filename .bingo-board .filename {
  display: initial;
}

.bingo-board strong {
  color: var(--info-emphasis-text-color);
}