html, body {
  margin: 0;
  color: var(--info-text-color);
  background: var(--page-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--info-font);
  font-size: var(--info-text-size);
  line-height: var(--info-line-height);
}

body {
  padding-bottom: 72px;
}

input {
  font-size: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 32px;
}

.container > .setting-group {
  padding: 32px 0;
}

.container > .setting-group:not(:last-child) {
  border-bottom: 1px solid #666666;
}

.setting-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 16px;
  gap: 16px;
}
.group-row {
  display: flex;
  flex-direction: row;
  gap: 128px;
  align-items: flex-start;
}
.setting-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.sticky {
  position: sticky;
  top: 32px;
  bottom: 32px;
}

h2, h3 {
  margin: 0;
}

.checkbox div {
  height: 16px;
  width: 16px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox input:checked + div::before {
  content: "✔";
}
.checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.input input {
  border: 0;
  outline: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
}
.input div {
  display: flex;
  border: 1px solid white;
  height: 32px;
  padding: 0 8px;
  gap: 4px;
  align-items: center;
}

.color-input input {
  opacity: 0;
  position: absolute;
}

.color-input div {
  height: 24px;
  width: 24px;
  border: 1px solid white;
}

.color-input {
  display: flex;
  gap: 8px;
  align-items: center;
}

.save-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background: #222222;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.save-footer div {
  flex: 1;
  display: flex;
  max-width: 1200px;
  justify-content: flex-end;
  gap: 16px;
}


.file-import,
.save-footer button {
  height: 40px;
  padding: 0 16px;
  background: #222222;
  border: 1px solid white;
  color: inherit;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-import:hover,
.save-footer button:hover {
  background: #333333;
}


.file-import:active,
.save-footer button:active {
  background: #444444;
}

.file-import input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.select .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background: #222222;
  min-width: 100px;
  align-items: stretch;
}

.select .toggle[data-open="true"] + .dropdown {
  display: flex;
  flex-direction: column;
}

.select .option {
  width: max-content;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  height: 32px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  width: unset;
  white-space: nowrap;
}

.select .option:hover {
  background: #333333;
}

.select .toggle {
  background: unset;
  border: 1px solid white;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  height: 32px;
}

.tracker-settings {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 16px;
}

.tracker-setting {
  padding: 8px 0;
}

.tracker-setting input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.tracker-setting .mode {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 0;
}

.tracker-setting label > div {
  width: 90px;
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  background: #222222;
  transition: 200ms ease-in-out;
}

.tracker-setting input:checked ~ div {
  color: rgba(0, 0, 0, 0.8);
  background: #ad920a;
}

@keyframes toast {
  0% {
    transform: translateY(400%);
  }
  20% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(400%);
  }
}

.toast {
  position: fixed;
  animation: toast 2s ease both;
  color: black;
  bottom: 100px;
  left: auto;
  right: auto;
  background: #ad920a;
  z-index: 1;
  padding: 16px;
  font-size: 24px;
}

.row-popout {
  --cell-width: var(--row-popout-cell-width);
  --cell-height: var(--row-popout-cell-height);
}

.measurer {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  gap: 8px;
}


.measurer .ruler {
  display: flex;
  gap: 8px;
}
.measurer .ruler.horizontal {
  flex-direction: row;
}
.measurer .ruler.horizontal .ruler-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.measurer .ruler.horizontal .ruler-section div:first-child {
  height: 8px;
}
.measurer .ruler.horizontal .ruler-section div:last-child {
  height: 7px;
}
.measurer .ruler.horizontal .ruler-section:first-child div:first-child {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
.measurer .ruler.horizontal .ruler-section:first-child div:last-child {
  border-left: 1px solid white;
}
.measurer .ruler.horizontal .ruler-section:last-child div:first-child {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.measurer .ruler.horizontal .ruler-section:last-child div:last-child {
  border-right: 1px solid white;
}

.measurer .ruler.vertical {
  flex-direction: column;
}
.measurer .ruler.vertical .ruler-section {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.measurer .ruler.vertical .ruler-section div:first-child {
  width: 8px;
}
.measurer .ruler.vertical .ruler-section div:last-child {
  width: 7px;
}
.measurer .ruler.vertical .ruler-section:first-child div:first-child {
  border-right: 1px solid white;
  border-top: 1px solid white;
}
.measurer .ruler.vertical .ruler-section:first-child div:last-child {
  border-top: 1px solid white;
}
.measurer .ruler.vertical .ruler-section:last-child div:first-child {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.measurer .ruler.vertical .ruler-section:last-child div:last-child {
  border-bottom: 1px solid white;
}

.tracker-settings .bingo-board {
  display: grid;
  height: var(--board-cell-height);
  width: var(--board-cell-width);
}

.tracker-settings .row-popout {
  display: grid;
  height: var(--row-popout-cell-height);
  width: var(--row-popout-cell-width);
}