.tokens,
.counter {
  display: none;
}

.board-tracker-show-for-blackout-mode .bingo-board.blackout .counter,
.board-tracker-show-for-blackout-mode .bingo-board.blackout .tokens,
.board-tracker-show-for-normal-mode .bingo-board.short .counter,
.board-tracker-show-for-normal-mode .bingo-board.short .tokens,
.board-tracker-show-for-normal-mode .bingo-board.normal .counter,
.board-tracker-show-for-normal-mode .bingo-board.normal .tokens,
.row-popout-tracker-show .row-popout .counter,
.row-popout-tracker-show .row-popout .tokens {
  display: flex;
}

.board-tracker-show-for-normal-mode .bingo-board.normal .goal.hide-text > span,
.board-tracker-show-for-normal-mode .bingo-board.short .goal.hide-text > span,
.board-tracker-show-for-blackout-mode .bingo-board.blackout .goal.hide-text > span,
.row-popout-tracker-show .row-popout .goal.hide-text > span {
  display: none;
}

.tokens label {
  cursor: pointer;
  display: flex;
  aspect-ratio: 1;
  height: 100%;
  background-size: cover;
  filter: grayscale(1);
  opacity: 0.6;
  transition: var(--tracker-animation-time) ease;
}

.tokens label.hidden {
  display: none;
}

.tokens label:has(input:checked) {
  filter: initial;
  opacity: 1;
}

.tokens {
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: var(--tracker-token-size);
}

.goal:not(.hide-text) .tokens:first-of-type {
  margin-top: 0.25lh;
}

.tokens input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.counter {
  align-items: center;
  justify-content: center;
  font-size: var(--tracker-counter-text-size);
  margin-top: 0.25lh;
}

.counter button {
  background: initial;
  border: initial;
  outline: initial;
  cursor: pointer;
  padding: initial;
  margin-right: 4px;
  display: flex;
}

.counter img {
  height: var(--tracker-counter-icon-size);
}

.counter .number-wrapper {
  height: 1lh;
  width: 1ch;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter .rotate-wrapper {
  transform-style: preserve-3d;
  position: relative;
  transition: var(--tracker-animation-time) ease;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter .number {
  position: absolute;
  backface-visibility: hidden;
}

.denominator {
  display: none;
}

.tracker-show-counter-denominator .denominator {
  display: initial;
}
